{% include 'InterfaceTest/head.html'%}
<!-- Main content starts -->
<script type="text/javascript">
    var checkVals = {"caseFounder":"{{ request.session.userName }}","mockId":"","title":"","tagKey":"","uri":"","url":"","module":"","businessLine":""};
    var page = {{ page }};
    var clock;
    function initCheckValsFromCookie(){
        var checkValsCookie = $.cookie('checkVals_mock');
        if(checkValsCookie){
            checkVals = JSON.parse(checkValsCookie);
            $("#caseFounderInput").val(checkVals['caseFounder']);
            $("#mockIdInput").val(checkVals['mockId']);
            $("#caseNameInput").val(checkVals['title']);
            $("#uriInput").val(checkVals['uri']);
            $("#tagKeyInput").val(checkVals['tagKey']);
            $("#caseInterFaceInput").val(checkVals['url']);
{#            $("#caseFounderInput").val(checkVals['caseFounder']);#}
            $("#caseModuleInput").val(checkVals['module']);
            checkOptions();
        }
    }
    function clearChecked() {
        $("#caseFounderInput").val('');
        $("#mockIdInput").val('') ;
        $("#caseNameInput").val('') ;
        $("#uriInput").val('');
        $("#tagKeyInput").val('');
        $("#caseInterFaceInput").val('');
        $("#caseModuleInput").val('');
        $("#businessLineCheckTab").click();
        editCheckVal();
    }

    function editBusinessLineCheckTab(name) {
        checkVals["businessLine"] = name;
        editCheckVal();
    }

    function editCheckVal() {

        //接口创建人
        if($("#caseFounderInput").val()==''){
            checkVals['caseFounder'] = "{{ userName }}";
        }else if($("#caseFounderInput").val()=='all'){
            checkVals['caseFounder'] = '';
        }else{
            checkVals['caseFounder'] =$("#caseFounderInput").val() ;
        }

        //接口Id
        if($("#mockIdInput").val()==''){
            checkVals['mockId'] = '';
        }else {
            checkVals['mockId'] =$("#mockIdInput").val() ;
        }

        //接口名称
        if($("#caseNameInput").val()==''){
            checkVals['title'] = '';
        }else {
            checkVals['title'] =$("#caseNameInput").val() ;
        }


        //URI
        if ($("#uriInput").val()==''){
            checkVals['uriKey']='';
        }else {
            checkVals['uriKey']=$("#uriInput").val();
        }
        //tagKey
        if ($("#tagKeyInput").val()==''){
            checkVals['tagKey']='';
        }else {
            checkVals['tagKey']=$("#tagKeyInput").val();
        }
        //服务
        if ($("#caseInterFaceInput").val()==''){
            checkVals['reqUrl']='';
        }else {
            checkVals['reqUrl']=$("#caseInterFaceInput").val();
        }

        if ($("#caseModuleInput").val()==''){
            checkVals['module']='';
        }else {
            checkVals['module']=$("#caseModuleInput").val();
        }
        selected();
    }


    function inputVal(val) {
        $("#caseFounderInput").val(val);
        editCheckVal();
    }
    function setState(id) {
        clearTimeout(clock);
          clock = setTimeout(function () {
              setTimeState(id);
{#              console.log('click');#}
          },300);
    }
    function setDblClickState(id) {
        clearTimeout(clock);
{#        console.log('dbclick');#}
    }
    function setTimeState(id) {


        var Name = $('#name'+id).text();
        //删除
        if(confirm("确定要删除MOCK接口\""+Name+"\"吗？")) {
            var delInterface=$.ajax({url:"{% url 'MOCK_HTTP_InterfaceDel' %}?id="+id,async:false});
            if(JSON.parse(delInterface.responseText)["code"] == 10000){
                location.reload();
            }else{
                alert(JSON.parse(delInterface.responseText)["message"]);
            }
        }
    }

    function checkOptions() {

        var htmls = ' <span class="cat-text"style="font-size: 15px;float: left;margin-right: 10px">搜索条件:</span>';

        for(var item in checkVals){
            if(checkVals[item] != '' && typeof(checkVals[item]) != 'undefined'){
                var key = '';
                switch(item){
                    case "caseFounder":
                        key = '创建人';
                        break;
                    case "mockId":
                        key = 'MOCK编号';
                        break;
                    case "title":
                        key = '标题';
                        break;
                    case "uriKey":
                        key = '接口URI';
                        break;
                    case "tagKey":
                        key = 'TagKey';
                        break;
                    case "reqUrl":
                        key = '接口URL';
                        break;
                    case "module":
                        key = '{{ groupLevel2 }}';
                        break;
                    case "businessLine":
                        key = "{{ groupLevel1 }}";
                        break;
                }
                htmls = htmls+'<span class="tag"><span>'+key+'：'+checkVals[item]+'&nbsp;&nbsp;</span><a href="javascript:void(0);" title="Removing tag" onclick="delCheckOptions(\''+item+'\')">x</a></span> '

            }
        }
        htmls = htmls +'<span class="tag" style="float: right;background-color: #ff7575"><span>默认筛选&nbsp;&nbsp;</span><a href="javascript:void(0);" title="Removing tag" onclick="clearChecked()">x</a></span>';
        $('#checkOption').html(htmls);
    }


    function EnterPress(event){ //传入 event
        var e = event || window.event;
        if(e.keyCode == 13){
            editCheckVal();
        }
    }
    function delCheckOptions(key) {
        switch (key){
            case "caseFounder":
                $("#caseFounderInput").val('all');
                break;
            case "mockId":
                $("#mockIdInput").val('');
                break;
            case "title":
                $("#caseNameInput").val('');
                break;
            case "uriKey":
                $("#uriInput").val('');
                break;
            case "tagKey":
                $("#tagKeyInput").val('');
                break;
            case "url":
                $("#caseInterFaceInput").val('');
                break;
            case "module":
                $("#caseModuleInput").val('');
                break;
            case "businessLine":
                $("#businessLineCheckTab").click();
                break;
        }

        editCheckVal();
    }

    function pageCall(pageNum) {
        page = pageNum;
        selected();
    }

    //弹出隐藏层
    function ShowDiv(){
        obshowdiv =  $("#taskList");
        offtop=obshowdiv.offset().top-60;
        offleft=obshowdiv.offset().left;
        obshowdiv.show();
        docheight = $(document).height();
        $('html,body').animate({scrollTop:offtop}, 200);
    }


    //创建时间排序
    var orderBy = "i.modTime desc , i.id desc";
    var addTimeFlag = '-1';
    var interfaceNameFlag = "-1";

    function orderByName() {
        if (interfaceNameFlag == '-1' || interfaceNameFlag == '0') {
            interfaceNameFlag = '1';
            addTimeFlag = '-1';
              modTimeFlag = '-1';
            //用例名称正序查
            orderBy = 'i.title asc';
        } else if (interfaceNameFlag == '1') {
            interfaceNameFlag = '0';
            //用例名称倒序查
            orderBy = 'i.title desc';
        }
        selected();
    }

    function orderByAddTime() {
        if (addTimeFlag == '-1' || addTimeFlag == '0') {
            addTimeFlag = '1';
            modTimeFlag = '-1';
            interfaceNameFlag = "-1";
            //创建时间正序查
            orderBy = 'i.id asc';
        } else if (addTimeFlag == '1') {
            addTimeFlag = '0';
            //创建时间倒序查
            orderBy = 'i.id desc';
        }
        selected();
    }
    var modTimeFlag = '-1';
    //修改时间排序
    function orderByModTime() {
        if(modTimeFlag == '-1' || modTimeFlag == '0'){
            modTimeFlag = '1';
            addTimeFlag = '-1';
            interfaceNameFlag = "-1";
            //修改时间正序查
            orderBy = 'i.modTime asc , i.id asc';
        }else if(modTimeFlag == '1' ){
            modTimeFlag = '0';
            //修改时间倒序查
            orderBy = "i.modTime desc , i.id desc";
        }
        selected();
    }

    //排序样式显示
    function orderByShow() {
        if(addTimeFlag == '0'){
            $("#addTimeBtn").text('创建时间▼');
        }else if(addTimeFlag == '1'){
            $("#addTimeBtn").text('创建时间▲');
        }

        if(modTimeFlag == '0'){
            $("#modTimeBtn").text('修改时间▼');
        }else if(modTimeFlag == '1'){
            $("#modTimeBtn").text('修改时间▲');
        }

        if(interfaceNameFlag == '0'){
            $("#interfaceNameBtn").text('接口名称▼');
        }else if(interfaceNameFlag == '1'){
            $("#interfaceNameBtn").text('接口名称▲');
        }
    }

    function submitImportForm(){
        $("#importText").html(
            '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" >'
            +'<h5 style=" color:white; ">导入中···</h5>'
            +' </div>'
        );
        $("#importForm").submit();
    }
    function createPeople(num) {
        htmlobj=$.ajax({url:'{% url 'queryPeopleInterfaceByTableName' %}?tbName=tb4_mock_http&num='+num,async:false});
        var value = JSON.parse(htmlobj.responseText).body;
        var nameVal = "";
        for(var i = 0;i<value.length;i++){
            nameVal = nameVal + ' &nbsp <a href="javascript:void(0);" id="hover-a" onclick="inputVal(\''+value[i].userName+'\')"  style="font-size: 15px;text-decoration:none">['+value[i].userName+'('+value[i].count+')]</a>'
        }
        if(value.length<3){
            $("#names").html(nameVal);
            $("#hover-a").attr('onclick','createPeople('+(0)+')');
            $("#names").show();
            return;
        }else {
            $("#names").html(nameVal);
        }
        $("#hover-a").attr('onclick','createPeople('+(num+1)+')');
        $("#names").show();
    }

    function convertToHttpInterfaceCase(mockId){
        window.open("{% url 'HTTP_InterfaceAddPage' %}?option=addbymock&mockid="+mockId);
    }

    function followMock(mockId, oprate){
        var htmlobj=$.ajax({url:'{% url 'MOCK_follow' %}?mockId='+mockId+'&oprate='+oprate,async:false});
        alert(JSON.parse(htmlobj.responseText).message);
        location.reload();
    }

</script>
<div class="content">
    <!-- Sidebar -->
    {% include 'InterfaceTest/HTTPMenu.html' %}    <!-- Sidebar ends -->
    <!-- Main bar -->
    <!-- Main bar -->
    <div class="right_col" role="main" style="min-height: 1657px;">
         <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>HTTP MOCK 服务</h2>

                      <h2 class="subNavH2Style">
                            <a href="{% url 'MOCK_HTTP_InterfaceAddPage' %}"  target="_blank">
                                <button class="btn btn-warning">
                                   添加MOCK
                                  </button>
                            </a>
                        </h2>
                      <h2 class="subNavH2Style">
                            <a href="{% url 'MOCK_HTTP_readme' %}"  target="_blank">
                                <button class="btn btn-info">
                                   使用说明
                                  </button>
                            </a>
                        </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="form-group">
                        <div  id="checkOption">
                            <span class="cat-text" style="font-size: 15px;float: left;margin-right: 10px">搜索条件:</span>
                        </div>


{#                        <span class="tag"><span>sales&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span>#}
{#                        <span class="tag"><span>sales&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span>#}
                    </div>
                      <br>
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="margin-bottom: 0px">
                        <li role="presentation" class="active"><a href="#caseFounder" role="tab" data-toggle="tab" aria-expanded="true">创建人</a>
                        </li>
                          <li role="presentation" class=""><a href="#caseId" role="tab" data-toggle="tab" aria-expanded="true">MOCK编号</a>
                        </li>
                        <li role="presentation" class=""><a href="#caseName" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">标题</a>
                        </li>
                        <li role="presentation" class=""><a href="#uri" role="tab"  data-toggle="tab" aria-expanded="false">请求URI</a>
                        </li>
                      <li role="presentation" class=""><a href="#tagKey" role="tab"  data-toggle="tab" aria-expanded="false">TagKey</a>
                        </li>
                        <li role="presentation" class=""><a href="#caseInterFace" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">接口URL</a>
                        </li>

                          <li class="dropdown">
                            <a href="#"  class="dropdown-toggle" data-toggle="dropdown"> {{ groupLevel1 }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                 <li><a href="#businessLineTab" id="businessLineCheckTab"  tabindex="-1" name="tabExecResult" data-toggle="tab" onclick="editBusinessLineCheckTab('')">&nbsp;</a></li>
                                {% for bl in checkBusinessLine %}
                                    <li><a href="#{{ bl.bussinessLineName }}tab"  tabindex="-1" name="tabExecResult" data-toggle="tab" onclick="editBusinessLineCheckTab('{{ bl.bussinessLineName }}')">{{ bl.bussinessLineName }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li role="presentation" class=""><a href="#moduleTab" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false">{{ groupLevel2 }}</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="caseFounder" aria-labelledby="home-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="caseFounderInput" onkeypress="EnterPress(event)" placeholder="请输入接口创建人">
                            </div>
                              <div class="col-lg-4" >
                                  <span style="font-size: 15px;margin-top: 5px">快捷条件: </span>
                              <button type="button" class="btn btn-success btn-xs" style="margin-bottom: -1px" onclick="inputVal('all')">所有</button>
                              <button type="button" class="btn btn-success btn-xs" style="margin-bottom: -1px" onclick="inputVal('{{ userName }}')">{{ userName }}</button>
                              <button id="hover-a" type="button" class="btn btn-success btn-xs" style="margin-bottom: -1px" onclick="createPeople(0)">其他</button>
                                  <div id="names" style="margin-top: 10px">
                            </div>
                                  </div>

                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="caseName" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="caseNameInput" onkeypress="EnterPress(event)" placeholder="请输入接口名称" >
                            </div>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="caseId" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="mockIdInput" onkeypress="EnterPress(event)" placeholder="请输入接口编号" >
                            </div>
                          </div>
                        </div>


                          <div role="tabpanel" class="tab-pane fade" id="uri" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <select id="uriInput" class="form-control" style="width: 300px;" onchange="editCheckVal()">
                                      <option value="" title="">全部服务</option>
                                    {% for u in uri %}
                                        <option value="{{ u.uriKey }}" title="{{ u.uriDesc }}">{{ u.alias }}</option>
                                    {% endfor %}
                                  </select>

                            </div>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tagKey" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="tagKeyInput" onkeypress="EnterPress(event)" placeholder="请输入TagKey">
                            </div>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="caseInterFace" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="caseInterFaceInput"  onkeypress="EnterPress(event)" placeholder="请输入接口URL" >
                            </div>
                          </div>
                        </div>

                            <div role="tabpanel" class="tab-pane fade" id="businessLineTab" aria-labelledby="profile-tab">
                              <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="form-control"   onkeypress="EnterPress(event)" placeholder="请选择{{ groupLevel1 }}"  disabled >
                                </div>
                              </div>
                            </div>
                          {% for bl in checkBusinessLine %}
                             <div role="tabpanel" class="tab-pane fade" id="{{ bl.bussinessLineName }}tab" aria-labelledby="profile-tab">
                              <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="form-control"   onkeypress="EnterPress(event)" value="{{ bl.bussinessLineName }}" disabled >
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        <div role="tabpanel" class="tab-pane fade" id="moduleTab" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-3">
                                <select class="form-control" style="width: 100%;" id="moduleSelectForSearch" onchange="$('#caseModuleInput').val($(this).val()).change()">
                                    <option>&nbsp;</option>
                                    {% for m in checkModules %}
                                        <option>{{ m.moduleName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" style="height: 38px;" id="caseModuleInput" onchange="editCheckVal()" onkeypress="EnterPress(event)" placeholder="请选择或输入{{ groupLevel2 }}">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div id="taskList" class="form-group"></div>
                  </div>
                </div>

              </div>
            </div>

          </div>
    </div>

</div>
<script type="text/javascript">
    $("#moduleSelectForSearch").select2();
    $("#uriInput").select2();
    function selected() {
        checkOptions();
        $.cookie('checkVals_mock', JSON.stringify(checkVals));
        var data = {checkArr : encodeURI(JSON.stringify(checkVals)),orderBy : orderBy,page:page};
        var ajax=$.ajax({url:"{% url 'MOCK_HTTP_InterfaceListCheck' %}",async:false,data:data,type:"POST"});
        $("#taskList").html(ajax.responseText);
        orderByShow();
    }
    initCheckValsFromCookie();
    selected();

    window.onload = function() {
        $("#surprise").click();
    };
</script>
<!-- Content ends -->
{% include 'InterfaceTest/foot.html'%}