{% include 'InterfaceTest/head.html'%}
<!-- Main content starts -->

<script type="text/javascript">

    var checkVals =  {"taskFounder":"{{ request.session.userName }}","taskId":"","title":"","taskdesc":"","module":"","businessLine":""};
    var page = {{ page }};

    function initCheckValsFromCookie(){
        var checkValsCookie = $.cookie('checkVals_http_task');
        if(checkValsCookie){
            checkVals = JSON.parse(checkValsCookie);
            $("#taskFounderInput").val(checkVals['taskFounder']);
            $("#taskIdInput").val(checkVals['taskId']);
            $("#taskNameInput").val(checkVals['title']);
            $("#taskDescribeInput").val(checkVals['taskdesc']);
            $("#taskModuleInput").val(checkVals['module']);
            checkOptions();
        }
    }
    function editCheckVal() {

        //用例创建人
        if($("#taskFounderInput").val()==''){
            checkVals['taskFounder'] = '{{ request.session.userName }}';
        }else if($("#taskFounderInput").val()=='all'){
            checkVals['taskFounder'] = '';
        }else{
            checkVals['taskFounder'] =$("#taskFounderInput").val() ;
        }

        //用例Id
        if($("#taskIdInput").val()==''){
            checkVals['taskId'] = '';
        }else {
            checkVals['taskId'] =$("#taskIdInput").val() ;
        }

        //用例名称
        if($("#taskNameInput").val()==''){
            checkVals['title'] = '';
        }else {
            checkVals['title'] =$("#taskNameInput").val() ;
        }

        //用例描述
        if ($("#taskDescribeInput").val()==''){
            checkVals['taskdesc']='';
        }else {
            checkVals['taskdesc']=$("#taskDescribeInput").val();
        }
        if ($("#taskModuleInput").val()==''){
            checkVals['module']='';
        }else {
            checkVals['module']=$("#taskModuleInput").val();
        }

        selected();
    }


    function editBusinessLineCheckTab(name) {
        checkVals["businessLine"] = name;
        editCheckVal();
    }



    function checkOptions() {

        var htmls = ' <span class="cat-text" style="font-size: 15px;float: left;">搜索条件:</span>';

        for(var item in checkVals){
            if(checkVals[item] != '' && typeof(checkVals[item]) != 'undefined'){
                var key = '';
                switch (item){
                    case "taskFounder":
                        key = '任务创建人';
                        break;
                    case "taskId":
                        key = '任务编号';
                        break;
                    case "title":
                        key = '任务名称';
                        break;
                    case "taskdesc":
                        key = '任务描述';
                        break;
                    case "module":
                        key = '{{ groupLevel2 }}';
                        break;
                    case "businessLine":
                        key = "{{ groupLevel1 }}";
                        break
                }
                htmls = htmls+'<span class="tag"><span>'+key+'：'+checkVals[item]+'&nbsp;&nbsp;</span><a href="javascript:void(0);" title="Removing tag" onclick="delCheckOptions(\''+item+'\')">x</a></span> ';
            }
        }
        htmls = htmls +'<span class="tag" style="float: right;background-color: #ff7575"><span>默认筛选&nbsp;&nbsp;</span><a href="javascript:void(0);" title="Removing tag" onclick="clearChecked()">x</a></span>';

        $('#checkOption').html(htmls);
    }


    function clearChecked() {
        $("#taskFounderInput").val('');
        $("#taskIdInput").val('') ;
        $("#taskNameInput").val('');
        $("#taskDescribeInput").val('');
        $("#taskModuleInput").val('');
        $("#businessLineCheckTab").click();
        editCheckVal();
    }


    function inputVal(val) {
        $("#taskFounderInput").val(val);
        editCheckVal();

    }


    function EnterPress(event){ //传入 event
        var e = event || window.event;
        if(e.keyCode == 13){
            editCheckVal();
        }
    }

    function delCheckOptions(key) {
         switch (key){
                case "taskFounder":
                    $("#taskFounderInput").val('all');
                    break;
                case "taskId":
                    $("#taskIdInput").val('');
                    break;
                case "title":
                    $("#taskNameInput").val('');
                    break;
                case "taskdesc":
                    $("#taskDescribeInput").val('');
                    break;
                case "module":
                    $("#taskModuleInput").val('');
                    break;
                case "businessLine":
                     $("#businessLineCheckTab").click();
                    break;
            }
        editCheckVal();
    }

    function toggleShow() {
        $("#taskList").toggle();
        $("#runTask").toggle();
    }
    function runTask(id) {

        htmlobj = $.ajax({url: '{% url 'HTTP_TaskGetTaskFotTaskId' %}?id=' + id + '&option=run', async: false});
        $('#taskList').hide();
        $('#runTask').show();
        $('#taskDetails').html(htmlobj.responseText);
        assginData(id);
        $("html,body").animate({scrollTop:0}, 200);
    }

     function assginData(id) {
        var getTaskData = $.ajax({url: '{% url 'HTTP_taskGetTaskData' %}?id=' + id, async: false});
        var taskdata = JSON.parse(getTaskData.responseText)["body"];
        $("#commonPriorityInput").val(taskdata.priorityCommon);
        var serviceAjax = $.ajax({url: "{% url 'getServiceConf' %}", async: false});
        var serviceJson = JSON.parse(serviceAjax.responseText);
        var serviceConfKey = "";
        for (var i = 0; i < serviceJson.length; i++) {
            serviceConfKey = serviceJson[i]["serviceConfKey"];
            $("#priorityVal_" + serviceConfKey).val(taskdata["confPriority"]["priority" + serviceConfKey]);
        }

    }

    function addTaskRunForDB() {

        var id=$('#taskIdSpan').text();
        var protocol='HTTP';
        var addBy=$("#taskAddBySpan").text();
        var httpConfKeyElement=$('input[name="httpConf"]:checked');
        var httpConfKey = "";
        httpConfKeyElement.each(function () {
            if(httpConfKey == ""){
                httpConfKey = $(this).val();
            }else {
                httpConfKey += ","+ $(this).val();
            }
        });

        if(httpConfKey == ""){
            alert("至少选择一个任务执行环境");
            return;
        }

        var execComments = $("#execComments").val();
        var retryCount = $("#retryCount").val();
        var isSendEmail=$('input[name="taskEmail"]:checked ').val();
        var emailList = "";
        if(isSendEmail === "1"){
            emailList = $("#emailList").val();
            if (emailList.indexOf("，")>=0){
                alert("间隔符为半角逗号");
                return;
            }
            isSendEmail = $('input[name="taskEmail"]:checked ').val() +
                $('input[name="emailFile"]:checked ').val() +
                $('input[name="passSendEmail"]:checked ').val() +
                $('input[name="failSendEmail"]:checked ').val()+
                $('input[name="errorSendEmail"]:checked ').val() +
                $('input[name="exceptionSendEmail"]:checked ').val();
        }

        var isSaveHistory = $('input[name="isSaveHistory"]:checked ').val();
        var method= 'POST';
        var url = "{% url 'HTTP_TaskRunTask' %}";
        var data = {
            id:id,
            protocol: protocol,
            addBy:addBy,
            httpConfKey_id:httpConfKey,
            isSaveHistory:isSaveHistory,
            isSendEmail:isSendEmail,
            emailList:emailList,
            execComments:execComments,
            retryCount:retryCount
        };

        var runTask = $.ajax({
            type: method,
            url: url,
            data: data,
            async:true,
            success:function () {
                if(JSON.parse(runTask.responseText)["code"] == 10000){
                    location.href="{% url 'HTTP_TaskExecuteResult' %}";
                }else{
                    alert(JSON.parse(runTask.responseText)["message"]);
                     location.href="{% url 'HTTP_TaskExecuteResult' %}";
                }
            },failure:function () {
                alert(runTask.responseText);
            }
        });
//        $("#ttttest").html(htmlobj.responseText);

//        location.href="/InterfaceTest/HttpTaskExecResult";
    }

   function pageCall(pageNum) {
        page = pageNum;
        selected();
    }
    //弹出隐藏层
    function ShowDiv(){
        obshowdiv =  $("#taskList");
        offtop=obshowdiv.offset().top-60;
        offleft=obshowdiv.offset().left;
//        obshowdiv.css("top",offtop+"px");
        obshowdiv.show();
        docheight = $(document).height();
        $('html,body').animate({scrollTop:offtop}, 200);
    };

    function checkTask(taskId) {
        htmlobj = $.ajax({url: '{% url 'HTTP_TaskGetTaskFotTaskId' %}?id=' + taskId + '&option=check', async: false});

        $('#taskList').hide();
        $('#runTask').show();
        $('#taskDetails').html(htmlobj.responseText);
        assginData(taskId);
{#        $("html,body").animate({scrollTop:0}, 200);#}
    }

    function delTask(id) {
        var Name = $('#title'+id).text();
        if(confirm("确定要删除任务\""+Name+"\"吗？")) {
            htmlobj = $.ajax({url: '{% url 'HTTP_TaskDel' %}?id=' + id, async: false});
            if(JSON.parse(htmlobj.responseText)["code"] == 10000 ){
                location.reload();
            }else{
                alert(htmlobj.responseText);
            }

        }
    }

    function delTheSameCaseInTask(id) {
        var Name = $('#title'+id).text();
        if(confirm("确定要对任务\""+Name+"\"进行去重吗？一旦去重，无法恢复！")) {
            htmlobj = $.ajax({url: '{% url 'HTTP_TaskDelTheSameCase' %}?id=' + id, async: false});
            if(JSON.parse(htmlobj.responseText)["code"] == 10000 ){
                location.reload();
            }else{
                alert(htmlobj.responseText);
            }

        }
    }
    function checkSelected(option,id) {
        if(option == "interface"){
            if($("#interfaceIdList").is(":visible")){
                $("#interfaceIdList").hide();
                return ;
            }
            htmlobj=$.ajax({url:"{% url 'getInterfaceListDataForTask' %}?id="+id,async:false});
            $("#interfaceListSpan").html(htmlobj.responseText);
            $("#interfaceIdList").show();
        }else {
            if($("#taskCaseIdList").is(":visible")){
                $("#taskCaseIdList").hide();
                return ;
            }
            htmlobj=$.ajax({url:"{% url 'getTestCaseListDataForTask' %}?id="+id,async:false});
            $("#taskCaseListSpan").html(htmlobj.responseText);
            $("#taskCaseIdList").show();

        }

    }

    //创建时间排序
    var orderBy = "t.modTime desc , t.id desc";
    var addTimeFlag = '-1';
    var taskNameFlag = "-1";

    function orderByTaskName() {
        if (taskNameFlag == '-1' || taskNameFlag == '0') {
            taskNameFlag = '1';
            addTimeFlag = '-1';
            modTimeFlag = '-1';
            //创建时间正序查
            orderBy = 't.title asc';
        } else if (taskNameFlag == '1') {
            taskNameFlag = '0';
            //创建时间倒序查
            orderBy = 't.title desc';
        }
        selected();
    }

    function orderByAddTime() {
        if (addTimeFlag == '-1' || addTimeFlag == '0') {
            addTimeFlag = '1';
            modTimeFlag = '-1';
            taskNameFlag = '-1';
            //创建时间正序查
            orderBy = 't.id asc';
        } else if (addTimeFlag == '1') {
            addTimeFlag = '0';
            //创建时间倒序查
            orderBy = 't.id desc';
        }
        selected();
    }
    var modTimeFlag = '-1';
    //修改时间排序
    function orderByModTime() {
        if(modTimeFlag == '-1' || modTimeFlag == '0'){
            modTimeFlag = '1';
            addTimeFlag = '-1';
            taskNameFlag = '-1';
            //修改时间正序查
            orderBy = 't.modTime asc , t.id asc';
        }else if(modTimeFlag == '1' ){
            modTimeFlag = '0';
            //修改时间倒序查
            orderBy = "t.modTime desc , t.id desc";
        }
        selected();
    }

    //排序样式显示
    function orderByShow() {
        if(addTimeFlag == '0'){
            $("#addTimeBtn").text('创建时间▼');
        }else if(addTimeFlag == '1'){
            $("#addTimeBtn").text('创建时间▲');
        }

        if(modTimeFlag == '0'){
            $("#modTimeBtn").text('修改时间▼');
        }else if(modTimeFlag == '1'){
            $("#modTimeBtn").text('修改时间▲');
        }

        if(taskNameFlag == '0'){
            $("#taskNameBtn").text('任务名称▼');
        }else if(taskNameFlag == '1'){
            $("#taskNameBtn").text('任务名称▲');
        }
    }



    function createPeople(num) {
        htmlobj=$.ajax({url:'{% url 'queryPeopleInterfaceByTableName' %}?tbName=tb_task&num='+num,async:false});
        var value = JSON.parse(htmlobj.responseText).body;
        var nameVal = "";
        for(var i = 0;i<value.length;i++){
            nameVal = nameVal + ' &nbsp <a href="javascript:void(0);" id="hover-a" onclick="inputVal(\''+value[i].userName+'\')"  style="font-size: 15px;text-decoration:none">['+value[i].userName+'('+value[i].count+')]</a>'
        }
        if(value.length<3){
            $("#names").html(nameVal);
            $("#hover-a").attr('onclick','createPeople('+(0)+')');
            $("#names").show();
            return;
        }else {
            $("#names").html(nameVal);
        }
        $("#hover-a").attr('onclick','createPeople('+(num+1)+')');
        $("#names").show();
    }



</script>

<div class="content">
    <!-- Sidebar -->
    {% include 'InterfaceTest/HTTPMenu.html' %}    <!-- Sidebar ends -->
    <!-- Main bar -->
    <!-- Main bar -->
    <div class="right_col" role="main" style="min-height: 1657px;">
         <div class="">

            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>HTTP任务</h2>
                      <h2 class="subNavH2Style">
                          <a href="{% url 'HTTP_TaskAddPage' %}" target="_blank">
                              <button class="btn btn-warning">添加任务</button>
                          </a>
                      </h2>

                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="form-group">
                        <div  id="checkOption">
                            <span class="cat-text" style="font-size: 15px;float: left;margin-right: 10px">搜索条件:</span>
                        </div>


{#                        <span class="tag"><span>sales&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span>#}
{#                        <span class="tag"><span>sales&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span>#}
                    </div>
                      <br>
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="margin-bottom: 0px">
                        <li role="presentation" class="active"><a href="#taskFounder" role="tab" data-toggle="tab" aria-expanded="true">任务创建人</a>
                        </li>
                          <li role="presentation" class=""><a href="#taskId" role="tab" data-toggle="tab" aria-expanded="true">任务编号</a>
                        </li>
                        <li role="presentation" class=""><a href="#taskName" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">任务名称</a>
                        </li>
                        <li role="presentation" class=""><a href="#taskDescribe" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">任务描述</a>
                        </li>

                           <li class="dropdown">
                            <a href="#"  class="dropdown-toggle" data-toggle="dropdown"> {{ groupLevel1 }} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                 <li><a href="#businessLineTab" id="businessLineCheckTab"  tabindex="-1" name="tabExecResult" data-toggle="tab" onclick="editBusinessLineCheckTab('')">&nbsp;</a></li>
                                {% for bl in checkBusinessLine %}
                                    <li><a href="#{{ bl.bussinessLineName }}tab"  tabindex="-1" name="tabExecResult" data-toggle="tab" onclick="editBusinessLineCheckTab('{{ bl.bussinessLineName }}')">{{ bl.bussinessLineName }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li role="presentation" class=""><a href="#moduleTab" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">{{ groupLevel2 }}</a>
                        </li>

                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="taskFounder" aria-labelledby="home-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="taskFounderInput" onkeypress="EnterPress(event)" placeholder="请输入任务创建人  输入'all'查看所有任务">
                            </div>
                              <div class="col-lg-4" >
                                  <span style="font-size: 15px;margin-top: 5px">快捷条件: </span>
                              <button type="button" class="btn btn-success btn-xs" style="margin-bottom: -1px" onclick="inputVal('all')">所有</button>
                              <button type="button" class="btn btn-success btn-xs" style="margin-bottom: -1px" onclick="inputVal('{{ request.session.userName }}')">{{ request.session.userName }}</button>
                              <button id="hover-a" type="button" class="btn btn-success btn-xs" style="margin-bottom: -1px" onclick="createPeople(0)">其他</button>
                                  <div id="names" style="margin-top: 10px">
                            </div>
                                  </div>

                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="taskName" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="taskNameInput" onkeypress="EnterPress(event)" placeholder="请输任务名称" >
                            </div>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="taskId" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="taskIdInput" onkeypress="EnterPress(event)" placeholder="请输入任务编号" >
                            </div>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="taskDescribe" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="taskDescribeInput" onkeypress="EnterPress(event)" placeholder="请输入任务描述">
                            </div>
                          </div>
                        </div>

                           <div role="tabpanel" class="tab-pane fade" id="businessLineTab" aria-labelledby="profile-tab">
                              <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="form-control"   onkeypress="EnterPress(event)" placeholder="请选择{{ groupLevel1 }}"  disabled >
                                </div>
                              </div>
                            </div>
                          {% for bl in checkBusinessLine %}
                             <div role="tabpanel" class="tab-pane fade" id="{{ bl.bussinessLineName }}tab" aria-labelledby="profile-tab">
                              <div class="form-group">
                                <div class="col-lg-8">
                                    <input type="text" class="form-control"   onkeypress="EnterPress(event)" value="{{ bl.bussinessLineName }}" disabled >
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        <div role="tabpanel" class="tab-pane fade" id="moduleTab" aria-labelledby="profile-tab">
                          <div class="form-group">
                            <div class="col-lg-3">
                                <select class="form-control" style="width: 100%;" id="moduleSelectForSearch"  onchange="$('#taskModuleInput').val($(this).val()).change()">
                                    <option value="">请选择模块</option>
                                    {% for m in checkModules %}
                                        <option>{{ m.moduleName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" id="taskModuleInput"  style="height: 38px;" onchange="editCheckVal()" onkeypress="EnterPress(event)" placeholder="请选择或输入{{ groupLevel2 }}">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div id="taskList" class="form-group"></div>
                  </div>
                </div>
                 <div class="x_panel" id="runTask" style="display: none">
                  <div class="x_title" style="padding: 0% 0% 0% 0%;margin:0% 0% 0% 0% ;">
                    <h2>任务详情</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" id="taskDetails">

                  </div>
                </div>
              </div>
            </div>

          </div>
    </div>

</div>

<script type="text/javascript">
     var mergeCheckbox = new Array();
    $("#moduleSelectForSearch").select2();
    function selected() {
        checkOptions();
        var data = {checkArr : encodeURI(JSON.stringify(checkVals)),orderBy : orderBy,page:page};
        $.cookie('checkVals_http_task', JSON.stringify(checkVals));
        htmlobj=$.ajax({url:"{% url 'HTTP_TaskListCheck' %}",async:false,data:data,type:"POST"});
        $("#taskList").html(htmlobj.responseText);
        orderByShow();
        showMergeCheckbox();
    }
    initCheckValsFromCookie();
    selected();
    window.onload = function() {
        $("#surprise").click();
    };
    var mergeCheckboxIsShow = false;
    function checkMergeCheckbox() {
        if (mergeCheckboxIsShow) {
            mergeCheckboxIsShow = false;
        } else {
            mergeCheckboxIsShow = true;
        }
        showMergeCheckbox();
    }

    function showMergeCheckbox() {
        if (mergeCheckboxIsShow) {
            $("#mergeTh").css("display", "");
            $("[name='mergeCheckbox']").css("display", "");
        } else {
            $("#mergeTh").css("display", "none");
            $("[name='mergeCheckbox']").css("display", "none");
        }

        selectCheckbox();

    }
       //自动勾选已勾选的box
    function selectCheckbox() {
        for (var index = 0;index < mergeCheckbox.length;index++){
            $("#merge"+mergeCheckbox[index]).prop("checked",true);
        }
    }

    function checkMergeCheckboxList(taskId) {
        if ($("#merge" + taskId).is(':checked')) {
            mergeCheckbox.push(taskId);
        } else {
            mergeCheckbox.splice($.inArray(taskId, mergeCheckbox), 1);
        }

        if (mergeCheckbox.length >= 2){
            $("#resultMerge").prop("disabled",false);
        }else {
            $("#resultMerge").prop("disabled",true);
        }

    }

    function mergeTask() {
        var tmpTaskList = mergeCheckbox.concat();
        tmpTaskList.splice(0,1);
        if(confirm("主任务为"+mergeCheckbox[0]+",\n副任务为"+tmpTaskList+",\n       确认合并?")){
            var res = $.ajax({
                url: "{% url 'HTTP_MergeTask' %}",
                data: {"taskId": mergeCheckbox.join(",")},
                type: "POST",
                async: false
             });
            var resJson = JSON.parse(res.responseText);
            if (resJson["code"] === 10000){
                location.reload();
            }else {
                alert(resJson["message"]);
            }
        }

    }
</script>
<!-- Content ends -->
{% include 'InterfaceTest/foot.html'%}