#通用
.idea/*
uploads/*
__pycache__/*
*/__pycache__/*
*.pyc
*.log
*.log.*
/rootlog/*.log*
*/*.apk
*/*.zip
*.lock
*.out

/AutotestFramework/.idea/*
/AutotestFramework/test_run/null

/AutotestWebD/.idea/*
/AutotestWebD/uploads/*
/AutotestWebD/static/UITestFramework.rar
/AutotestWebD/reports/*
/AutotestWebD/static/littletool/keyword.html

/RobotUiTest/.idea/*
/RobotUiTest/report/*.html
/RobotUiTest/testData/*

#自动生成的
.restartuwsgirelease.sh.swp
/AutotestWebD/script/uwsgi-release.pid
/AutotestWebD/static/ui_test_reports/*
/AutotestWebD/ui_file_uploads/*
/AutotestWebD/static/ui_test_report/*
/AutotestWebD/ui_file_upload/*
/AutotestWebD/static/*.zip
/AutotestWebD/static/*.apk

/AutotestWebD/static/ui_test/app_android/*.apk
/AutotestWebD/static/ui_test/app_ios/*.zip
/AutotestWebD/static/ui_test/app_uploads/*
/AutotestWebD/static/ui_test/framework/*
/AutotestWebD/static/ui_test/reports/*


*.pkl