<div>
    <div class="pagination" style="float:right;">
        {% include 'InterfaceTest/pagination.html' %}
    </div>
</div>

<table class="table table-striped table-bordered table-hover"
       style="table-layout:fixed;width:100%;word-break:break-all;margin-top:8px">
    <thead>
    <tr style="color: snow" bgcolor="#2A3F54">
        <th style="width:8%;">DB_SERVICE_KEY</th>
{#        <th >配置信息</th>#}
        <th style="width:10%;">配置名称</th>
        <th style="width:15%;">配置描述</th>
        <th style="width:30%;">配置value</th>
        <th style="width:8%;">创建人</th>
        <th style="width:8%;">创建时间</th>
        <th style="width:8%;">修改时间</th>
{#        <th style="width:9%;">操作</th>#}
    </tr>
    </thead>
    <tbody style="width: 100%">
    {% if pageCount == 0 %}
        <td colspan="9" align="center" >没有符合条件的搜索结果</td>
    {% else %}
          {% for pageData in pageDatas %}
            <tr>
                <td name="httpConfKey{{ pageData.id }}"><textarea class="list_textarea"  disabled>{{ pageData.serviceConfKey }}</textarea></td>
                <td name="alias{{ pageData.id }}"><textarea class="list_textarea"  disabled>{{ pageData.alias }}</textarea></td>
                <td name="serviceConfDesc{{ pageData.id }}"><textarea class="list_textarea"  disabled>{{ pageData.serviceConfDesc }}</textarea></td>
                <td name="serviceAlias{{ pageData.id }}"><textarea style="width: 100%;height: 50px;min-width: 100%;max-width: 100%;" disabled >{{ pageData.serviceConf }}</textarea></td>
                <td>{{ pageData.addBy }}</td>
                <td>{{ pageData.addTime }}</td>
                <td>{{ pageData.modTime }} </td>
{#                <td style="text-align: center">#}
{#                    <div style="margin-top: -10px" id="opration{{ pageData.id }}">#}
{#                        <button class="btn btn-info optionButtionSize" onclick="addVarsSort('{{ pageData.httpConfKey }}')" title="置顶"><i class="fa fa-eject"></i></button>#}
{#                {% if  request.session.loginName == pageData.addBy or userIsSuperManager == 1 %}#}
{#                        <button class="btn btn-success optionButtionSize" onclick="editUserHttpConf('{{ pageData.id }}','{{ pageData.httpConfKey }}')" title="编辑"><i class="fa fa-edit"></i></button>#}
{#                        <button class="btn btn-danger optionButtionSize" onclick="delUserHttpConf('{{ pageData.id }}','{{ pageData.httpConfKey }}');" title="删除"><i class="fa fa-trash"></i></button>#}
{#                {% endif %}#}
{#                    </div>#}
{#                </td>#}

            </tr>
            <td id="hiddenTR{{ pageData.id }}" colspan="8" align="center"  style="display: none;">
            {% if menu.HttpInterface == 1 %}
                <table class="table table-striped table-bordered table-hover" style=" border: 1px solid rgb(201, 201, 201);table-layout: fixed;word-break: break-all;">
                    <thead style="color: snow;" bgcolor="#2A3F54">
                        <th style="width:15%;">环境</th>
                        <th style="width:85%">http值</th>
                    </thead>
                    <tbody>
                          {% for uri in uriServices %}
                              <tr>
                                <td>{{ uri.alias }}</td>
                                <td name="{{ uri.uriKey }}"><input type="text" name="UriConf" class="form-control" placeholder="请输入{{ uri.alias }}"></td>
                              </tr>
                          {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if menu.DubboInterface == 1 %}
                <table class="table table-striped table-bordered table-hover" style=" border: 1px solid rgb(201, 201, 201);table-layout: fixed;word-break: break-all;">
                    <thead style="color: snow;" bgcolor="#2A3F54">
                        <th style="width:15%;">服务</th>
                        <th style="width:85%">dubbo值</th>
                    </thead>
                    <tbody>
                          {% for dubbo in dubboServices %}
                              <tr>
                                <td>{{ dubbo.alias }}</td>
                                <td name="{{ dubbo.uriKey }}"><input type="text" name="dubboUriConf" class="form-control" placeholder="请输入{{ dubbo.alias }}"></td>
                              </tr>
                          {% endfor %}
                    </tbody>
                </table>
            {% endif %}
                <button class="btn btn-success" onclick="saveEdit('{{ pageData.id }}')">保存编辑</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" onclick="cancelEdit('{{ pageData.id }}')">取消编辑</button>
            </td>
        {% endfor %}
    {% endif %}
    </tbody>

</table>
