{% include 'InterfaceTest/head.html' %}
<!-- Main content starts -->
<script type="text/javascript">
    var checkVals = {"caseFounder": "{{ request.session.userName }}"};
    var page = {{ page }};
    var clock;

    function clearChecked() {
        $("#caseFounderInput").val('');
        editCheckVal();
    }


    function editCheckVal() {

        //接口创建人
        if ($("#caseFounderInput").val() == '') {
            checkVals['caseFounder'] = "{{ userName }}";
        } else if ($("#caseFounderInput").val() == 'all') {
            checkVals['caseFounder'] = '';
        } else {
            checkVals['caseFounder'] = $("#caseFounderInput").val();
        }

        selected();
    }


    function inputVal(val) {
        $("#caseFounderInput").val(val);
        editCheckVal();
    }


    function delAppPackage(id) {
        var Name = $('#name' + id).text();
        //删除
        if (confirm("确定要删除接口\"" + Name + "\"吗？")) {
            var delInterface = $.ajax({url: "{% url 'delAppPackage' %}?id=" + id, async: false});
            if (JSON.parse(delInterface.responseText)["code"] == 10000) {
                selected();
            } else {
                alert("删除失败，请重试！");
            }
        }
    }

    function checkOptions() {

        var htmls = ' <span class="cat-text"style="font-size: 15px;float: left;margin-right: 10px">搜索条件:</span>';

        for (var item in checkVals) {
            if (checkVals[item] != '' && typeof(checkVals[item]) != 'undefined') {
                var key = '';
                switch (item) {
                    case "caseFounder":
                        key = '接口创建人';
                        break;

                }
                htmls = htmls + '<span class="tag"><span>' + key + '：' + checkVals[item] + '&nbsp;&nbsp;</span><a href="javascript:void(0);" title="Removing tag" onclick="delCheckOptions(\'' + item + '\')">x</a></span> '

            }
        }
        htmls = htmls + '<span class="tag" style="float: right;background-color: #ff7575"><span>默认筛选&nbsp;&nbsp;</span><a href="javascript:void(0);" title="Removing tag" onclick="clearChecked()">x</a></span>';
        $('#checkOption').html(htmls);
    }


    function EnterPress(event) { //传入 event
        var e = event || window.event;
        if (e.keyCode == 13) {
            editCheckVal();
        }
    }

    function delCheckOptions(key) {
        switch (key) {
            case "caseFounder":
                $("#caseFounderInput").val('all');
                break;

        }

        editCheckVal();
    }

    function pageCall(pageNum) {
        page = pageNum;
        selected();
    }

    //弹出隐藏层
    function ShowDiv() {
        obshowdiv = $("#taskList");
        offtop = obshowdiv.offset().top - 60;
        offleft = obshowdiv.offset().left;
        obshowdiv.show();
        docheight = $(document).height();
        $('html,body').animate({scrollTop: offtop}, 200);
    };


    //创建时间排序
    var orderBy = "p.modTime desc , p.id desc";
    var addTimeFlag = '-1';
    var interfaceNameFlag = "-1";

    function orderByName() {
        if (interfaceNameFlag == '-1' || interfaceNameFlag == '0') {
            interfaceNameFlag = '1';
            addTimeFlag = '-1';
            modTimeFlag = '-1';
            //用例名称正序查
            orderBy = 'p.title asc';
        } else if (interfaceNameFlag == '1') {
            interfaceNameFlag = '0';
            //用例名称倒序查
            orderBy = 'p.title desc';
        }
        selected();
    }

    function orderByAddTime() {
        if (addTimeFlag == '-1' || addTimeFlag == '0') {
            addTimeFlag = '1';
            modTimeFlag = '-1';
            interfaceNameFlag = "-1";
            //创建时间正序查
            orderBy = 'p.id asc';
        } else if (addTimeFlag == '1') {
            addTimeFlag = '0';
            //创建时间倒序查
            orderBy = 'p.id desc';
        }
        selected();
    }

    var modTimeFlag = '-1';

    //修改时间排序
    function orderByModTime() {
        if (modTimeFlag == '-1' || modTimeFlag == '0') {
            modTimeFlag = '1';
            addTimeFlag = '-1';
            interfaceNameFlag = "-1";
            //修改时间正序查
            orderBy = 'p.modTime asc , p.id asc';
        } else if (modTimeFlag == '1') {
            modTimeFlag = '0';
            //修改时间倒序查
            orderBy = "p.modTime desc , p.id desc";
        }
        selected();
    }

    //排序样式显示
    function orderByShow() {
        if (addTimeFlag == '0') {
            $("#addTimeBtn").text('创建时间▼');
        } else if (addTimeFlag == '1') {
            $("#addTimeBtn").text('创建时间▲');
        }

        if (modTimeFlag == '0') {
            $("#modTimeBtn").text('修改时间▼');
        } else if (modTimeFlag == '1') {
            $("#modTimeBtn").text('修改时间▲');
        }

        if (interfaceNameFlag == '0') {
            $("#interfaceNameBtn").text('接口名称▼');
        } else if (interfaceNameFlag == '1') {
            $("#interfaceNameBtn").text('接口名称▲');
        }
    }

    function submitImportForm() {
        $("#importText").html(
            '<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;" >'
            + '<h5 style=" color:white; ">导入中···</h5>'
            + ' </div>'
        );
        $("#importForm").submit();
    }

    function createPeople(num) {
        htmlobj=$.ajax({url:'{% url 'queryPeopleInterfaceByTableName' %}?tbName=tb_ui_package&num='+num,async:false});
        var value = JSON.parse(htmlobj.responseText).body;
        var nameVal = "";
        for(var i = 0;i<value.length;i++){
            nameVal = nameVal + ' &nbsp <a href="javascript:void(0);" id="hover-a" onclick="inputVal(\''+value[i].userName+'\')"  style="font-size: 15px;text-decoration:none">['+value[i].userName+'('+value[i].count+')]</a>'
        }
        if(value.length<3){
            $("#names").html(nameVal);
            $("#hover-a").attr('onclick','createPeople('+(0)+')');
            $("#names").show();
            return;
        }else {
            $("#names").html(nameVal);
        }
        $("#hover-a").attr('onclick','createPeople('+(num+1)+')');
        $("#names").show();
    }

</script>
<div class="content">
    <!-- Sidebar -->
    {% include 'InterfaceTest/HTTPMenu.html' %}    <!-- Sidebar ends -->
    <!-- Main bar -->
    <!-- Main bar -->
    <div class="right_col" role="main" style="min-height: 1657px;">
        <div class="">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ text.pageTitle }}</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                            <div class="form-group">
                                <div id="checkOption">
                                    <span class="cat-text"
                                          style="font-size: 15px;float: left;margin-right: 10px">搜索条件:</span>
                                </div>


                                {#                        <span class="tag"><span>sales&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span>#}
                                {#                        <span class="tag"><span>sales&nbsp;&nbsp;</span><a href="#" title="Removing tag">x</a></span>#}
                            </div>
                            <br>
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist" style="margin-bottom: 0px">
                                    <li role="presentation" class="active"><a href="#caseFounder" role="tab"
                                                                              data-toggle="tab" aria-expanded="true">接口创建人</a>
                                    </li>

                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade active in" id="caseFounder"
                                         aria-labelledby="home-tab">
                                        <div class="form-group">
                                            <div class="col-lg-8">
                                                <input type="text" class="form-control" id="caseFounderInput"
                                                       onkeypress="EnterPress(event)" placeholder="请输入接口创建人">
                                            </div>
                                            <div class="col-lg-4">
                                                <span style="font-size: 15px;margin-top: 5px">快捷条件: </span>
                                                <button type="button" class="btn btn-success btn-xs"
                                                        style="margin-bottom: -1px" onclick="inputVal('all')">所有
                                                </button>
                                                <button type="button" class="btn btn-success btn-xs"
                                                        style="margin-bottom: -1px"
                                                        onclick="inputVal('{{ userName }}')">{{ userName }}</button>
                                                <button id="hover-a" type="button" class="btn btn-success btn-xs"
                                                        style="margin-bottom: -1px" onclick="createPeople(0)">其他
                                                </button>
                                                <div id="names" style="margin-top: 10px">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="taskList" class="form-group"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<script type="text/javascript">

    function selected() {
        checkOptions();
        var data = {checkArr: encodeURI(JSON.stringify(checkVals)), orderBy: orderBy, page: page};
        var ajax = $.ajax({url: "{% url 'uiAppPackageCheckSubPage' %}", async: false, data: data, type: "POST"});
        $("#taskList").html(ajax.responseText);
        orderByShow();
    }

    selected();

    window.onload = function () {
        $("#surprise").click();
    };
</script>
<!-- Content ends -->
{% include 'InterfaceTest/foot.html' %}