
<table class="table table-striped table-bordered table-hover"
       style="table-layout:fixed;width:100%;word-break:break-all;margin-top:8px">
    <thead>
    <tr style="color: snow" bgcolor="#2A3F54">

        <th style="width:3%;">序号</th>
        <th style="width:10%;">接口编号</th>
        <th style="width:10%;">接口名称</th>
        <th style="width:20%;">接口描述</th>
        <th style="width:10%;">接口URL</th>
        <th style="width:5%;">创建人</th>
        <th style="width:5%;">编辑操作</th>
    </tr>
    </thead>
    <tbody>
    {% if pageCount == 0 %}
        <td colspan="7" align="center" >没有符合条件的搜索结果</td>
    {% else %}
       {% for pageData in pageDatas %}
            <tr >
                <td>{{ forloop.counter }}</td>
                <td>{{ pageData.interfaceId }}</td>
                <td><textarea class="table-fixed-write"  disabled>{{ pageData.title }}</textarea></td>
                <td><textarea class="table-fixed-write"  disabled>{{ pageData.casedesc }}</textarea></td>
                <td><textarea class="table-fixed-write"  disabled>{{ pageData.url }}</textarea></td>
                <td>{{ pageData.userName }}</td>
                <td><a href="{% url 'HTTP_operationInterface' %}?id={{ pageData.id }}&option=check" target="_blank"><button class="btn btn-primary" style="margin-left: 10px">查看</button></a></td>
            </tr>
       {% endfor %}
    {% endif %}
    </tbody>
</table>
