{% include 'InterfaceTest/head.html'%}
<!-- Main content starts -->

<script type="text/javascript">


</script>

<div class="content" style="background-color: white;">
    <!-- Sidebar -->
    <!-- Main bar -->
    <!-- Main bar -->
    <div role="main" style="min-height: 1003px;">
         <div class="clearfix">
              <div class="page-title">
              <div class="">
                  <div class="col-xs-12 form-group pull-right top_search" style="text-align: center;font-size: 30px">
                    <h1>集成开发环境最新CI测试结果</h1>
                  </div>
              </div>


            </div>
            <div class="clearfix"></div>
            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="x_panel" id="taskList" >

                </div>
              </div>
            </div>

          </div>
    </div>

</div>

<script type="text/javascript">
      function selected() {

        var htmlobj=$.ajax({url:"{% url 'http_task_get_CICD_sub_page' %}",async:true,type:"POST",success:function () {

            $("#taskList").html(htmlobj.responseText);
        }});

    }
    selected();
    setInterval("selected()",30000);


</script>
<!-- Content ends -->
</div>

</div>

</body>
<footer style="margin-left: 0px">
  <div align="center" >
<p class="copy" align="center">Copyright &copy; 2017 | <a href="#" target="_blank">{{ site_name }}</a> </p>  </div>
  <div class="clearfix"></div>
</footer>
    <script src="/static/js/jquery-ui.js"></script>
    <!-- FastClick -->
    <script src="/static/new_template/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/new_template/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/new_template/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/new_template/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/new_template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/new_template/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/static/new_template/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/new_template/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/new_template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/new_template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/new_template/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/new_template/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/new_template/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/new_template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/new_template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/new_template/vendors/moment/min/moment.min.js"></script>
    <script src="/static/new_template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

{#    <!-- Custom Theme Scripts -->#}
    <script src="/static/new_template/build/js/custom.js"></script>
{#    <script src="/static/new_template/build/js/customAction.js"></script>#}
</html>