<div class="box-body no-padding" >



    <div class="box-header with-border">
          <h3 class="box-title">jira业务线与平台关联关系管理</h3>

{#          <div class="box-tools pull-right">#}
{#            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
{#            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>#}
{#          </div>#}
        <button style="margin: auto; float: right;margin-right: 30px" onclick="addJiraBusinessLinePlatformBtn()" type="button" class="btn bg-olive margin">添加jira业务线与平台对应关系</button>
        </div>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th style="width: 2%">#</th>
            <th style="width: 20%">jira业务线</th>
            <th style="width: 20%">平台业务线</th>
            <th style="width: 25%;">操作</th>
        </tr>
         {% if pageCount == 0 %}
        <td colspan="8" align="center" >没有符合条件的搜索结果</td>
    {% else %}
        {% for pageData in pageDatas %}
            <tr>
                <td>{{ pageData.id }}</td>
                <td id="jiraBusinessLine_{{ pageData.id }}">{{ pageData.jiraBusinessLine }}</td>
                <td>{{ pageData.platformBusinessLine }}</td>
                <td>

                    <button type="button" class="btn bg-olive"
                            onclick="editJiraBusinessLinePlatformBtn('{{ pageData.id }}')">编辑
                    </button>
                    <button  type="button" class="btn bg-red"
                            onclick="deleteJiraBusinessLinePlatformBtn($(this), '{{ pageData.id }}')">删除
                    </button>

                </td>

            </tr>

        {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div>
<div class="box-footer clearfix">
  <ul class="pagination pagination-sm no-margin pull-right">
    {% include "myadmin/pagination.html" %}
  </ul>
</div>
