<php> echo file_get_contents("http://localhost".(C('SERVER_PORT')==80?'':":".C('SERVER_PORT'))."/System/main/inithead"); </php>
<div style="height: 18px"></div>
<!-- Main content starts -->
<link rel="stylesheet" href="/platform_resource/style/useraudit.css">

<div class="content">
    <!-- Sidebar -->
    <php> echo file_get_contents("http://localhost".(C('SERVER_PORT')==80?'':":".C('SERVER_PORT'))."/System/main/initmenu?open=sysuserrel"); </php>
    <!-- Sidebar ends -->
    <!-- Main bar -->
    <div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
            <h2 class="pull-left"><i class="icon-home"></i> 系统开发管理-{$sysName}</h2>
            <div class="clearfix"></div>
        </div>
        <!-- Page heading ends -->
        <!-- Matter -->
        <div class="matter">
            <div class="container">

                <div class="row">
                    <div  class="col-md-12" style="padding: 0% 0% 0% 0%;margin:0% 0% 0% 0% ;">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                <div class="pull-left"><h1>系统中用户</h1></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">

                <foreach name="userData" item="vo" >
                    <if condition="$vo['isInSys'] == 1 ">
                        <a href="/System/sysuserrel/changeState?sysName={$sysName}&loginName={$vo['loginName']}">
                            <button type="button" class="button green ">
                                <p style="font-size: 30px">
                                    {$vo['userName']}

                                </p>
                            </button>
                        </a>
                    </if>
                </foreach>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div  class="col-md-12" style="padding: 0% 0% 0% 0%;margin:0% 0% 0% 0% ;">
                        <div class="widget wgreen">
                            <div class="widget-head">
                                <div class="pull-left"><h1>系统外用户</h1></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="widget-content">
                                <div class="padd">

                <foreach name="userData" item="vo" >
                    <if condition="$vo['isInSys'] == 0 ">
                        <a href="/System/sysuserrel/changeState?sysName={$sysName}&loginName={$vo['loginName']}">
                            <button type="button" class="button red ">
                                <p style="font-size: 30px">
                                    {$vo['userName']}

                                </p>
                            </button>
                        </a>
                    </if>
                </foreach>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Matter ends -->
    </div>
</div>
<!-- Content ends -->
<php> echo file_get_contents("http://localhost".(C('SERVER_PORT')==80?'':":".C('SERVER_PORT'))."/System/main/initfoot"); </php>
