<div class="box-body no-padding" >
    <div class="box-header with-border">
          <h3 class="box-title">ui移动端服务列表</h3>

{#          <div class="box-tools pull-right">#}
{#            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
{#            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>#}
{#          </div>#}

        <button style="margin: auto;float: right;margin-right: 30px" onclick="addUiMobileServerBtn()" type="button" class="btn bg-olive margin">添加ui移动端服务</button>

    </div>
<div class="box-footer clearfix">
  <ul class="pagination pagination-sm no-margin pull-right">
    {% include "myadmin/pagination.html" %}
  </ul>
</div>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th style="width: 2%">#</th>
            <th style="width: 5%">服务名称</th>
            <th style="width: 5%">服务描述</th>
            <th style="width: 5%">服务类型</th>
            <th style="width: 10%">当前server是否被使用</th>
            <th style="width: 10%">当前使用本服务的任务</th>
            <th style="width: 10%">当前使用本服务ip地址</th>
            <th style="width: 10%">当前使用本服务端口</th>
            <th style="width: 10%">服务对应设备udid</th>
            <th style="width: 6%">服务对应设备deviceName</th>
            <th style="width: 10%">ios的webDriverAgen的端口</th>
            <th style="width: 5%">是否有效</th>
            <th style="width: 25%;">操作</th>

        </tr>
         {% if pageCount == 0 %}
        <td colspan="8" align="center" >没有符合条件的搜索结果</td>
    {% else %}
        {% for pageData in pageDatas %}
            <tr>
                <td>{{ pageData.id }}</td>
                <td id="serverName_{{ pageData.id }}">{{ pageData.serverName }}</td>
                <td>{{ pageData.serverDesc }}</td>
                {% if pageData.serverType == 1 %}
                    <td>Android</td>
                {% else %}
                    <td>iOS</td>
                {% endif %}
                {% if pageData.status == 1%}
                    <td>是</td>
                {% else %}
                    <td>否</td>
                {% endif %}
                <td>{{ pageData.executeTaskId }}</td>
                <td>{{ pageData.serverIp }}</td>
                <td>{{ pageData.serverPort }}</td>
                <td>{{ pageData.udid }}</td>
                <td>{{ pageData.deviceName }}</td>
                <td>{{ pageData.wdaLocalPort }}</td>
                {% if pageData.state == 0 %}
                <td>无效</td>
                {% else %}
                <td>有效</td>
                {% endif %}

                <td>
                    {% if pageData.state == 1 %}
                   <button type="button" class="btn bg-olive"
                           onclick="editUiMobileServerBtn('{{ pageData.id }}')">编辑
                   </button>
                    <button  type="button" class="btn bg-red"
                             onclick="deleteUiMobileServerBtn($(this), '{{ pageData.id }}')">删除
                    </button>
                    {% else %}
                     <button  type="button" class="btn bg-red"
                             onclick="resetUiMobileServerBtn($(this), '{{ pageData.id }}')">启用
                    </button>
                    {% endif %}

                </td>

            </tr>

        {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div>
<div class="box-footer clearfix">
  <ul class="pagination pagination-sm no-margin pull-right">
    {% include "myadmin/pagination.html" %}
  </ul>
</div>