<table class="table table-striped table-bordered table-hover" style="table-layout:fixed;width:100%;word-break:break-all;">
    <thead>
    <tr >
        <th style="width:20%;">任务编号</th>
        <th style="width:80%;" id="taskIdSpan">{{ taskData.taskId }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>任务名称</td>
        <td id="taskNameSpan">{{ taskData.title }}</td>
    </tr>
    <tr>
        <td>任务描述</td>
        <td id="taskDescribeSpan"><pre style='border: hidden;background-color: inherit'>{{ taskData.taskdesc }}</pre></td>
    </tr>
    <tr>
        <td>优先变量</td>
        <td id="taskDescribeSpan">
            <ul id="myTab1" class="nav nav-tabs">
                <li class="active">
                    <a href="#commonPriorityVal" data-toggle="tab">
                        通用变量
                    </a>
                </li>
                {% for sc in service %}
                    {% if forloop.counter0  < 5 %}
                        <li><a href="#PriorityHREF_{{ sc.serviceConfKey }}"
                               title="{{ sc.serviceIncludeHTTPConf }}"
                               data-toggle="tab">{{ sc.alias }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown"> 变量环境 <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu"
                        aria-labelledby="myTabDrop1">
                        {% for sc in service %}
                            {% if forloop.counter0 >= 5 %}
                                <li>
                                    <a href="#PriorityHREF_{{ sc.serviceConfKey }}"
                                       title="{{ sc.serviceIncludeHTTPConf }}"
                                       data-toggle="tab">{{ sc.alias }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in"
                     id="commonPriorityVal">
                        <textarea type="text" disabled
                                  style="height: 100px;max-width: 100%"
                                  class="form-control"
                                  id="commonPriorityInput"
                                  placeholder="请输入通用优先变量"></textarea>
                </div>
                {% for s in service %}
                    <div class="tab-pane fade"
                         id="PriorityHREF_{{ s.serviceConfKey }}">
                            <textarea type="text" disabled
                                      style="height: 100px;max-width: 100%"
                                      class="form-control"
                                      id="priorityVal_{{ s.serviceConfKey }}"
                                      name="PriorityValInput"
                                      placeholder="请输{{ s.alias }}优先变量"></textarea>
                    </div>
                {% endfor %}
            </div>



        </td>
    </tr>
    <tr>
        <td>创建人</td>
        <td id="taskAddBySpan">{{ taskData.userName }}</td>
    </tr>
    <tr style="display:{$data['interfaceCount']==0?'none':''};">
        <td>接口用例数量</td>
        <td id="taskInterfaceNumSpan">{{ taskData.interfaceCount }}
            <a href='javascript:void (0)' onclick='checkSelected("interface","{{ taskData.id }}")' style=' margin-left:30px' class='label label-primary' >查看</a>
        </td>
    <tr id="interfaceIdList"  style="display:none">
        <td  colspan=2 align="center"  ><div style="margin-top: 2px " id="interfaceListSpan"></div></td>
        <input type="hidden" id="interfaceIdInput"/>
    </tr>
    </tr>
    <tr style="display:{$data['caseCount']==0?'none':''};">
        <td>业务流用例数量</td>
        <td id="taskCaseNumSpan">{{ taskData.caseCount }}
            <a href='javascript:void (0)' onclick='checkSelected("testCase","{{ taskData.id }}")' style=' margin-left:30px' class='label label-primary' >查看</a>
        </td>
    </tr>
    <tr id="taskCaseIdList"  style="display:none">
        <td  colspan=2 align="center"  ><div style="margin-top: 2px " id="taskCaseListSpan"></div></td>
        <input type="hidden" id="taskCaseIdInput"/>
    </tr>
    <tr style="display:{$data['interfaceCount']==0?'none':''}{$data['caseCount']==0?'none':''};">
        <td>包含的接口用例和业务流用例的接口总数量</td>
        <td id="interfaceNumSpan">{{ taskData.interfaceNum }}</td>
    </tr>
    <tr>
        <td>所含{{ groupLevel1 }}名称</td>
        <td id="businessLineGroupSpan">{{ taskData.businessLineGroup }}</td>
    </tr>
    <tr>
        <td>所含{{ groupLevel2 }}名称</td>
        <td id="modulesGroupSpan">{{ taskData.modulesGroup }}</td>
    </tr>
    <tr>
        <td>创建时间</td>
        <td id="addTimeSpan">{{ taskData.addTime }}</td>
    </tr>
    <tr>
        <td>更新时间</td>
        <td id="modTimeSpan">{{ taskData.modTime }}</td>
    </tr>
    {% if option == "run" %}
        <tr id="commentTr" >
            <td>任务执行备注</td>
            <td>
                <textarea type="text" class="form-control" id="execComments" placeholder="请输入任务执行备注"  style="max-width: 100%;width:100%;height: 60px"></textarea>
            </td>
        </tr>
        <tr id="envTr">
            <td>任务环境</td>
            <td >

        {% for hc in httpConf %}
{#            {% if forloop.counter0 == 0%}#}
{#                 <label style="margin-left: 30px" >#}
{#                     <input  type="checkbox" name="httpConf"   value="{{ hc.httpConfKey }}" checked>#}
{#                    {{ hc.alias }}#}
{#                 </label>#}
{#            {% else %}#}
                <label style="margin-left: 30px" >
                     <input  type="checkbox" name="httpConf"   value="{{ hc.httpConfKey }}" >
                    {{ hc.alias }}
                 </label>
{#            {% endif %}#}
        {% endfor %}
            </td>
        </tr>
        <tr id="emailTr" >
            <td>是否记录到历史信息</td>
            <td>
                <label style="margin-left: 30px">
                    <input type="radio" name="isSaveHistory"  value="1">
                    是
                </label>

                <label style="margin-left: 50px">

                    <input type="radio" name="isSaveHistory"  value="0" checked>
                    否
                </label>
            </td>
        </tr>
          <tr>
            <td>是否发送邮件</td>
            <td>
                <label style="margin-left: 30px">
                    <input type="radio" name="taskEmail" onclick="$('#emailList').show();$('.sendEmailOptions').show()" value="1">
                    是
                </label>
                <label style="margin-left: 50px">
                    <input type="radio" name="taskEmail" onclick="$('#emailList').hide();$('.sendEmailOptions').hide()"  value="0" checked>
                    否
                </label>
                <input class="form-control" style="width:80%;float: right;display: none" id="emailList" value="{{ taskData.emailList }}" onblur=" if ($(this).val().indexOf('，')>=0){alert('间隔符为半角逗号'); }"/>
            </td>
        </tr>
        <tr class="sendEmailOptions" style="display:none;">
            <td>是否发送附件</td>
            <td>
                <label style="margin-left: 30px">
                    <input type="radio" name="emailFile"  value="1" checked>
                    是
                </label>
                <label style="margin-left: 50px">
                    <input type="radio" name="emailFile"   value="0">
                    否
                </label>
            </td>
        </tr>
        <tr class="sendEmailOptions" style="display:none;">
            <td>PASS是否发送邮件</td>
            <td>
                <label style="margin-left: 30px">
                    <input type="radio" name="passSendEmail"  value="1" checked>
                    是
                </label>
                <label style="margin-left: 50px">
                    <input type="radio" name="passSendEmail"   value="0">
                    否
                </label>
            </td>
        </tr>
       <tr class="sendEmailOptions" style="display:none;">
            <td>FAIL是否发送邮件</td>
            <td>
                <label style="margin-left: 30px">
                    <input type="radio" name="failSendEmail"  value="1" checked>
                    是
                </label>
                <label style="margin-left: 50px">
                    <input type="radio" name="failSendEmail"   value="0">
                    否
                </label>
            </td>
        </tr>
       <tr class="sendEmailOptions" style="display:none;">
            <td>ERROR是否发送邮件</td>
            <td>
                <label style="margin-left: 30px">
                    <input type="radio" name="errorSendEmail"  value="1" checked>
                    是
                </label>
                <label style="margin-left: 50px">
                    <input type="radio" name="errorSendEmail"   value="0">
                    否
                </label>
            </td>
        </tr>
       <tr class="sendEmailOptions" style="display:none;">
            <td>EXCEPTION是否发送邮件</td>
            <td>
                <label style="margin-left: 30px">
                    <input type="radio" name="exceptionSendEmail"  value="1" checked>
                    是
                </label>
                <label style="margin-left: 50px">
                    <input type="radio" name="exceptionSendEmail"   value="0">
                    否
                </label>
            </td>
        </tr>
        <tr id="codeTr" style="display: none">
            <td>是否生成代码覆盖率</td>
            <td>
                <label style="width:97px;"><input type="radio" name="taskCodeRate" value="1">
                是
                </label>
                <label><input type="radio" name="taskCodeRate" value="0" checked>
                    否
                </label>
            </td>
        </tr>
  {%  endif %}
    </tbody>

</table>

    {% if option == 'run' %}
        <div  class="div-height" style="margin-left:70%; padding-top: 8px;" >
         <button style="float: right" type="button"  onclick="toggleShow()" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;返回&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button style="float: right" type="button"  onclick="addTaskRunForDB()" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;立即执行&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
        {% else %}
        <div  class="div-height" style="margin-left:70%; padding-top: 8px;" >
         <button style="float: right" type="button"  onclick="toggleShow()" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;返回&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button style="float: right" type="button"  onclick="runTask('{{ taskData.taskId }}')" class="btn btn-primary btn-lg">&nbsp;&nbsp;&nbsp;&nbsp;执行&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </div>
    {% endif %}

