</div>

</div>
</body>
<footer>
  <div align="center" >
<p class="copy" align="center">Copyright &copy; 2019 | <a href="#" target="_blank">{{ site_name }}</a> </p>  </div>
  <div class="clearfix"></div>
</footer>
    <script src="/static/js/jquery-ui.js"></script>
    <!-- FastClick -->
    <script src="/static/new_template/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/static/new_template/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/static/new_template/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="/static/new_template/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/static/new_template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/static/new_template/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/static/new_template/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/static/new_template/vendors/Flot/jquery.flot.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/static/new_template/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/static/new_template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/static/new_template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/static/new_template/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="/static/new_template/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="/static/new_template/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/static/new_template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/static/new_template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/static/new_template/vendors/moment/min/moment.min.js"></script>
    <script src="/static/new_template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

{#    <!-- Custom Theme Scripts -->#}
    <script src="/static/new_template/build/js/custom.js"></script>
{#    <script src="/static/new_template/build/js/customAction.js"></script>#}
</html>