<div class="box-body no-padding" >



    <div class="box-header with-border">
          <h3 class="box-title">执行python代码数据列表</h3>

{#          <div class="box-tools pull-right">#}
{#            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
{#            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>#}
{#          </div>#}
        <button style="margin: auto; float: right;margin-right: 30px" onclick="addExePythonBtn()" type="button" class="btn bg-olive margin">添加执行Python代码数据</button>
        </div>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th style="width: 13%">属性key</th>
            <th style="width: 13%">描述</th>
            <th style="width: 13%">属性值</th>
            <th style="width: 10%">是否有效</th>
            <th style="width: 25%;">操作</th>
        </tr>
         {% if pageCount == 0 %}
        <td colspan="8" align="center" >没有符合条件的搜索结果</td>
    {% else %}
        {% for pageData in pageDatas %}
            <tr>
                <td id="execPythonAttr_{{ pageData.id }}">{{ pageData.execPythonAttr }}</td>
                <td>{{ pageData.execPythonDesc }}</td>
                <td>
                    {% if pageData.execPythonAttr == "importString" %}
                    <textarea id="execPythonValueText{{ pageData.id }}" disabled>{{ pageData.execPythonValue }}</textarea>
                    {% else %}
                        {{ pageData.execPythonValue }}
                    {% endif %}
                </td>
                {% if pageData.state == 1 %}
                <td>有效</td>
                {% else %}
                <td>无效</td>
                {% endif %}
                <td>
                    {% if pageData.state == 1 %}
                    <button type="button" class="btn bg-olive"
                            onclick="editExePythonBtn('{{ pageData.id }}')">编辑
                    </button>
                    <button  type="button" class="btn bg-red"
                            onclick="deleteExePythonBtn('{{ pageData.id }}')">删除
                    </button>
                        {% if pageData.execPythonAttr == "importString" %}
                            <button  type="button" class="btn bg-orange" onclick="clearRedisKey('python_third_libs')">立即生效
                            </button>
                        {% else %}
                            <button  type="button" class="btn bg-orange" onclick="clearRedisKey('python_timeout_{{ pageData.execPythonAttr }}')">立即生效
                            </button>
                        {% endif %}
                    {% else %}
                    <button  type="button" class="btn bg-red"
                            onclick="resetExePythonBtn('{{ pageData.id }}')">启用
                    </button>
                    {% endif %}
                </td>
            </tr>
<script type="text/javascript">
if ("{{ pageData.execPythonAttr }}" == "importString"){
  CodeMirror.fromTextArea($("#execPythonValueText{{ pageData.id }}")[0], {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-python",
        indentUnit: 4,
        indentWithTabs: false,
        readOnly: "nocursor",
    });
}

</script>

        {% endfor %}
        {% endif %}
        </tbody>
    </table>

</div>
<div class="box-footer clearfix">
  <ul class="pagination pagination-sm no-margin pull-right">
    {% include "myadmin/pagination.html" %}
  </ul>
</div>
