{% include 'InterfaceTest/head.html' %}
<!-- Main content starts -->

<div class="content">
    <!-- Sidebar -->
    {% include 'InterfaceTest/HTTPMenu.html' %}    <!-- Sidebar ends -->
    <!-- Main bar -->
    <!-- Main bar -->
    <div class="right_col" role="main" style="min-height: 1657px;">
         <div class="">
            <div class="page-title">
              <div class="title_left">
                  <div class="col-xs-12 form-group pull-right top_search">
                    <h3>日志导入</h3>
                  </div>
              </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                      <h2 style="width: 15% !important;margin-right: 1%!important">导入日志(dubbo:in)数据</h2>

                      <h2 class="subNavH2Style">
                          <div class="btn_addPic" style="display: block;background: #f0ad4e;color: white;">
                              <span style="color: white;">上传文件…</span>
                              <span id="inputFileSpan">
                                  <input name="formDataInput" multiple="" tabindex="3" title="支持日志文件，单条日志格式符合要求即可，多个日志用换行符隔开" size="3" class="filePrew" type="file" onchange="uploadLogFile($(this))">
                              </span>
                          </div>
                      </h2>

                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>

                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content" style="display: block;">
                      <div id="failLogDiv">
日志文件要求，单条标准日志文件必须含有如下字段的json，多条日志换行符分开，单条标准日志格式必要字段示例如下：<br>
{"prefix":"dubbo:in","app":"xxx.domain.com","localAddr":"10.10.10.10:10010","clazz":"com.xxx.xxxx.api.XxxFacade","method":"fetchXxxInfos","arguments":[[100000160]],"result":{"id":100000001,"name":"加油","enum":"START"}}                      </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-min-1" style="margin-left: 2%;white-space: nowrap;margin-top: 8px;">{{ groupLevel1 }}</label>
                    <div class="col-lg-2" style="width: 13.5%">
                        <select class="form-control" id="businessLine" onchange="switchModule($(this).val())">
                            {% for business in businessLine %}
                                <option value="{{ business.id }}">{{ business.bussinessLineName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="control-label col-md-min-1" style="width:4.3%;white-space: nowrap;margin-top: 8px;margin-left: 10px;">{{ groupLevel2 }}</label>
                    <div class="col-lg-2" style="width: 13.5%">
                        <select class="form-control" id="modules">
                        </select>
                    </div>
                </div>
                <div id="caseList" class="form-group">

                </div>
                </div>

              </div>
            </div>

          </div>
    </div>

</div>
<script type="text/javascript">
    var checkVals = {"title":"","casedesc":"","uri":"","url":""};
    var fileContentStr = "";
    var fileContentJsonDict = {}; //导入的Log的解析的内容
    var selectLineList = []; //选择的要导入的行
    var domainList = [];
    var domainUriDict = {};
    var failedHostAndAppList = [];
    var version = "v1";
    var varsPool = {};
    var interfaceParamListDict = {};
    function initAllGlobalVars(){
        checkVals = {"title":"","casedesc":"","uri":"","url":""};
        fileContentStr = "";
        fileContentJsonDict = {}; //导入的Log的解析的内容
        selectLineList = []; //选择的要导入的行
        domainList = [];
        domainUriDict = {};
        failedHostAndAppList = [];
        version = "v1";
        varsPool = {};

        interfaceParamListDict = {};
    }
    function generateVarspool(){
        varsPool = {};
        var varstrList = $("#varsText").val().split(";");
        for(var vIndex = 0; vIndex<varstrList.length; vIndex++ ){
            var tmpVarlist = varstrList[vIndex].split("=");
            if(tmpVarlist.length >= 2){
                var tmpKey = tmpVarlist[0];
                var tmpValue = "";
                for(var tmpVindex=1; tmpVindex<tmpVarlist.length; tmpVindex++){
                    tmpValue += tmpVarlist[tmpVindex];
                    if(tmpVindex != tmpVarlist.length-1){
                        tmpValue += "=";
                    }
                }
                varsPool[tmpKey.trim()] = tmpValue.trim();
            }
        }
        var varKeyList = [];
        for(var key in varsPool){
            varKeyList.push(key);
        }
        if(varKeyList.length == 0 && $("#varsText").val().trim()!="" ){
            alert("没有发现合法的变量！");
        }
    }
    var businessLine_module_relation = $.ajax({
              url: '{% url 'bmRelation' %}' ,
              type: 'get',
              async: false,
         });
    try{
        var bmDict = JSON.parse(businessLine_module_relation.responseText).body;
    }catch (e){
        alert(bmDict);
        alert("获取{{ groupLevel1 }}{{ groupLevel2 }}关联失败")
    }
    function switchModule(blId) {
        $("#modules option").remove();
        var mdSelect = $("#modules");
        for(var index = 0; index < bmDict[blId].length;index ++){
            jQuery("<option></option>").val(bmDict[blId][index]["id"]).text(bmDict[blId][index]["moduleName"]).appendTo(mdSelect);
        }
        $("#businessLine").select2();
        $("#modules").select2();
    }
    switchModule($("#businessLine").val());

    //js 读取文件
    function uploadLogFile(element){
        initAllGlobalVars();
        var files = element[0].files;
        var file = files[0];
        if (file.size > 1024*1024*10) {
            alert("文件大小不能超过10M");
            element.val('');
            return false;
        }else{
            if (window.FileReader) {
                filename = file.name.split(".")[0];
                var reader = new FileReader();
                reader.onload = function() {
                    fileContentStr = this.result;
                    try{
                        selected();
                    }catch(e){
                        console.error(e);
                        alert("发生异常："+e);
                    }

                };
                reader.readAsText(file);
            }
        }
        $("#inputFileSpan").html('<input name="formDataInput" multiple="" tabindex="3" title="支持标准日志版本的json文件" size="3" class="filePrew" type="file" onchange="uploadLogFile($(this))">');
    }
    function processStrWithVarspool(strToBeProcessed){
        var proList = strToBeProcessed.split("\{\{");
        var baseList = [];
        var replacedList = [];
        for(var index=1; index < proList.length; index++ ){
            var tmpStr = proList[index];
            var tmpEndPos = tmpStr.indexOf("}}");
            var tmpVarkey = tmpStr.substring(0,tmpEndPos);
            var tmpVarkeyTrimed = tmpVarkey.trim();
            if(varsPool.hasOwnProperty(tmpVarkeyTrimed)){
                baseList.push("\{\{"+tmpVarkey+"}}");
                replacedList.push(varsPool[tmpVarkeyTrimed]);
            }
        }
        for(var baseIndex = 0; baseIndex < baseList.length; baseIndex++){
            strToBeProcessed = strToBeProcessed.replace(new RegExp(baseList[baseIndex], 'g'), replacedList[baseIndex])
        }
        return strToBeProcessed;
    }
    function delCaseTr(indexId){
        if(confirm("确认删除第"+(indexId+1)+"行么？")){
            $("#trshow_"+indexId).remove();
            $("#otherInfo_"+indexId).remove();
        }
    }
    function getShowHtmlByLogJsonAndCheckVals(){
        if(fileContentStr == ""){
            return;
        }
        var importedList = fileContentStr.split("\n");
        var importedDubboList = [];
        try{
            var dubboCount = 0;
            var dubboSuccessCount = 0;
            var dubboFailCount = 0;
            var dubboRemoveSameCount = 0;
            var failImportedLog = "";
            for(var logIndex = 0; logIndex < importedList.length; logIndex++ ){
                try{
                    if(importedList[logIndex].trim() != ""){
                        var importedDict = JSON.parse(importedList[logIndex]);
                        if(importedDict['prefix'] == "dubbo:in"){
                            dubboCount += 1;
                            var tmpDubboDict = {};
                            tmpDubboDict['dubboService'] = importedDict['clazz'];
                            tmpDubboDict['dubboMethod'] = importedDict['method'];
                            tmpDubboDict['dubboParams'] = "";
                            for(var argIndex=0; argIndex<importedDict['arguments'].length; argIndex++ ){
                                try{
                                    tmpDubboDict['dubboParams'] += JSON.stringify(importedDict['arguments'][argIndex]);
                                }catch(e){
                                    tmpDubboDict['dubboParams'] += importedDict['arguments'][argIndex];
                                }
                                if(argIndex != importedDict['arguments'].length-1){
                                    tmpDubboDict['dubboParams'] += ",";
                                }
                            }
                            //判断service，method对应的param是否添加过。
                            var serviceMethodKey = tmpDubboDict['dubboService']+"."+ tmpDubboDict['dubboMethod'];
                            var isMatchParam = false;
                            if(interfaceParamListDict.hasOwnProperty(serviceMethodKey)){
                                //如果存在这个方法，去判断参数。
                                var tmpParamList = interfaceParamListDict[serviceMethodKey];
                                for(var paIndex = 0; paIndex < tmpParamList.length; paIndex++){
                                    //遍历已经有的所有参数列表。
                                    if(tmpParamList[paIndex] == tmpDubboDict['dubboParams']){
                                        isMatchParam = true;
                                        break;
                                    }
                                    var tmpHistoryRealParamList = eval("["+tmpParamList[paIndex]+"]");
                                    var tmpCurrentRealParamList = eval("["+tmpDubboDict['dubboParams']+"]");
                                    if(tmpHistoryRealParamList.length == tmpCurrentRealParamList.length){
                                        var subAllParamMatched = true;
                                        for(var subTmpPaIndex = 0; subTmpPaIndex<tmpHistoryRealParamList.length;subTmpPaIndex ++){
                                            var subTmpParamHistory = tmpHistoryRealParamList[subTmpPaIndex];
                                            var subTmpParamCurrent = tmpCurrentRealParamList[subTmpPaIndex];
                                            if(typeof subTmpParamHistory !== typeof subTmpParamCurrent){
                                                subAllParamMatched = false;
                                                break;
                                            }
                                            if(typeof subTmpParamHistory == "object"){
                                                if(JSON.stringify(subTmpParamHistory).charAt(0) == "[" && JSON.stringify(subTmpParamCurrent).charAt(0) == "["){
                                                    //都是list，取第一个判断类型，不能为空？
                                                    if(subTmpParamHistory.length > 0 && subTmpParamCurrent.length > 0){
                                                        if(typeof subTmpParamHistory[0] !== typeof subTmpParamCurrent[0]){
                                                            subAllParamMatched = false;
                                                            break;
                                                        }
                                                    }

                                                }else if(JSON.stringify(subTmpParamHistory).charAt(0) == "{" && JSON.stringify(subTmpParamCurrent).charAt(0) == "{"){
                                                    //都是dict，判断key的类型
                                                    for(var hisKey in subTmpParamHistory){
                                                        if(subTmpParamCurrent.hasOwnProperty(hisKey)){
                                                            if(typeof subTmpParamHistory[hisKey] !== typeof subTmpParamCurrent[hisKey]){
                                                                subAllParamMatched = false;
                                                                break;
                                                            }
                                                        }else{
                                                            subAllParamMatched = false;
                                                            break;
                                                        }
                                                    }
                                                    if(subAllParamMatched){
                                                        for(var currKey in subTmpParamCurrent){
                                                            if(subTmpParamHistory.hasOwnProperty(currKey)){
                                                                if(typeof subTmpParamHistory[currKey] !== typeof subTmpParamCurrent[currKey]){
                                                                    subAllParamMatched = false;
                                                                    break;
                                                                }
                                                            }else{
                                                                subAllParamMatched = false;
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }else{
                                                    //对象类型不一样
                                                    subAllParamMatched = false;
                                                    break;
                                                }
                                            }
                                        }
                                        isMatchParam = subAllParamMatched;
                                        //isMatchParam = true;
                                    }
                                    if(isMatchParam){
                                        break;
                                    }
                                }
                            }
                            else{
                                //如果不存在，创建空list
                                interfaceParamListDict[serviceMethodKey] = [];
                            }
                            if(isMatchParam){
                                dubboRemoveSameCount += 1;
                                failImportedLog += "第"+dubboCount+"的参数类型相同，已经去重！"+tmpDubboDict['dubboService']+"."+tmpDubboDict['dubboMethod']+"，参数：["+tmpDubboDict['dubboParams']+"]\n";
                                continue;
                            }else{
                                interfaceParamListDict[serviceMethodKey].push(tmpDubboDict['dubboParams']);
                            }
                            try{
                                tmpDubboDict['varsPost'] = "ASSERT_STRUCT("+ JSON.stringify(importedDict['result']) +");";
                            }catch(e){
                                tmpDubboDict['varsPost'] = "ASSERT("+ importedDict['result'] +");";
                            }

                            tmpDubboDict['dubboSystem'] = "";
                            if( parseInt(importedDict['localAddr'].split(":")[1])>0){
                                if(failedHostAndAppList.indexOf(importedDict['localAddr'])>=0){
                                    tmpDubboDict['dubboSystem'] = "";
                                }
                                else if(domainUriDict.hasOwnProperty(importedDict['localAddr'])){
                                    tmpDubboDict['dubboSystem'] = domainUriDict[importedDict['localAddr']];
                                }else{
                                   //地址正确 且没有查询过，查询后复制
                                    var uriConfResp = $.ajax({
                                      url:  "{% url 'HTTP_getUrikeyByConfigInfo' %}?host="+importedDict['localAddr'] ,
                                      async: false
                                    });
                                    var retUri = uriConfResp.responseText;
                                    if(retUri!=""){
                                        tmpDubboDict['dubboSystem'] = retUri;
                                        domainUriDict[importedDict['localAddr']] = retUri;
                                    }else{
                                        failedHostAndAppList.push(importedDict['localAddr']);
                                    }
                                }
                            }
                            if (tmpDubboDict['dubboSystem'] == ""){
                                //通过ip端口没有获取到服务名称，那么就通过app获取，需要再服务对应的描述中加入[app的值]，
                                // 例如 app:fang.deyoulife.com，需要再对应服务配置的描述中增加 [fang.deyoulife.com]
                                if(failedHostAndAppList.indexOf(importedDict['app'])>=0){
                                    tmpDubboDict['dubboSystem'] = "";
                                }else if(domainUriDict.hasOwnProperty(importedDict['app'])){
                                    tmpDubboDict['dubboSystem'] = domainUriDict[importedDict['app']];
                                }else{
                                    var uriConfResp = $.ajax({
                                      url:  "{% url 'HTTP_getUrikeyByConfigInfo' %}?protocol=DUBBO&app="+importedDict['app'] ,
                                      async: false
                                    });
                                    var retUri = uriConfResp.responseText;
                                    if(retUri!=""){
                                        tmpDubboDict['dubboSystem'] = retUri;
                                        domainUriDict[importedDict['app']] = retUri;
                                    }else{
                                        failedHostAndAppList.push(importedDict['app']);
                                    }
                                }
                            }
                            if (tmpDubboDict['dubboSystem'] == ""){
                                dubboFailCount += 1;
                                failImportedLog += "第"+dubboCount+"的服务在平台上未配置，请在<a href='http://{{ host }}/interfaceTest/HTTP_EnvUriConf' target='_blank'>请求地址配置</a>中配置ip："+importedDict['localAddr']+"，或者在对应<a href='http://{{ host }}/interfaceTest/HTTP_UriConf' target='_blank'>服务配置</a>的描述中配置["+importedDict['app']+"]，配置完成后请刷新页面重新导入！\n";
                            }else{
                                importedDubboList.push(tmpDubboDict);
                                dubboSuccessCount += 1;
                            }
                        }
                    }
                }
                catch(e){
                    console.error(e)
                }
            }
        }catch(e){
            console.error(e);
            alert(e);
            return;
        }
        if(dubboFailCount > 0 || dubboRemoveSameCount > 0){
            $("#failLogDiv").html('<pre>共解析出dubboCase '+dubboCount+' 个，成功 '+dubboSuccessCount+' 个，失败 '+dubboFailCount+' 个，去重 '+dubboRemoveSameCount+' 个，失败原因如下：\n'+failImportedLog+'</pre>');
        }
        //这个函数解析Log的文本，并且生成要展示的html字符串返回。
        var retHtml =
            '<table class="table table-bordered " style="table-layout:fixed;width:100%;word-break:break-all;">' +
            '    <thead>' +
            '    <tr style="color: snow" bgcolor="#2A3F54">' +
            '        <th style="width:5%;">序号</th>' +
            '        <th style="width:10%;">服务System</th>' +
            '        <th style="width:20%;">服务ServiceClass</th>' +
            '        <th style="width:10%;">接口Method</th>' +
            '        <th style="width:20%;">参数</th>' +
            '        <th style="width:30%;">断言</th>' +
            '        <th style="width:5%;">操作</th>' +
            '    </tr>' +
            '    </thead>' +
            '    <tbody id="tablebody">' ;
        if(importedDubboList.length == 0){
                    retHtml +=        ' <tr><td colspan="7" align="center" >没有符合条件的导入结果，要求导入的日志为Log的dubbo:in类型的日志，请检查日志格式！</td></tr>';
        }else{
            for(var indexHttp = 0; indexHttp < importedDubboList.length; indexHttp++ ){
                retHtml +=    '<tr id="trshow_'+indexHttp+'" lineno="'+indexHttp+'">'+
                    '                <td name="trIds">'+(indexHttp+1)+'</td>'+
                    '                <td id="dubboSystem'+indexHttp+'">'+importedDubboList[indexHttp]['dubboSystem']+'</td>'+
                    '                <td id="dubboService'+indexHttp+'">'+importedDubboList[indexHttp]['dubboService']+'</td>'+
                    '                <td id="dubboMethod'+indexHttp+'">'+importedDubboList[indexHttp]['dubboMethod']+'</td>'+
                    '                <td><textarea style="width:100%;" disabled id="dubboParams'+indexHttp+'" >'+importedDubboList[indexHttp]['dubboParams']+'</textarea></td>'+
                    '                <td id="url_'+indexHttp+'"><textarea style="width:100%;" disabled id="varsPost'+indexHttp+'">'+importedDubboList[indexHttp]['varsPost']+'</textarea></td>'+
                    '                <td>' +
                    '                    <button class="btn btn-danger optionButtionSize" title="删除" onclick="delCaseTr('+indexHttp+');"  style="margin:0 0 0 0;">' +
                    '                                <i class="fa fa-trash"></i>' +
                    '                    </button>' +
                    '             </td>'+
                    '            </tr>';
            }
        }
        retHtml+=    '    </tbody>' +
            '</table>'+
            '<div class="pagination" style="float:right;margin-top:-10px;">' +
            '  <button class="btn btn-warning" title="开始导入" onclick="importAllCase();">' +
            '     开始导入' +
            '  </button>' +
            '</div>' ;
        return retHtml;
    }
    function importAllCase(){
        var importedDataList = [];
        var isContinue = true;
        var alertMsg = "";
        var businessLine = $("#businessLine").val();
        var modules = $("#modules").val();
        $("#tablebody").children("tr").each(function () {
            var lineno = $(this).attr("lineno");
            if(lineno){
                var tmpInfoDict = {};
                tmpInfoDict['businessLineId_id'] = businessLine;
                tmpInfoDict['moduleId_id'] = modules;
                tmpInfoDict['dubboSystem'] = $("#dubboSystem"+lineno).text();
                tmpInfoDict['dubboService'] = $("#dubboService"+lineno).text();
                tmpInfoDict['dubboMethod'] = $("#dubboMethod"+lineno).text();
                tmpInfoDict['dubboParams'] = $("#dubboParams"+lineno).val();
                tmpInfoDict['varsPost'] = $("#varsPost"+lineno).val();
                importedDataList.push(tmpInfoDict);
            }
        });
        if(isContinue){
            //数据获取完毕，开始进行post到服务端并插入数据库，然后返回。
            $.ajax({
                url:  "{% url 'dubbo_saveLogDataToDubboInterfaces' %}" ,
                async: false,
                method:"POST",
                dataType:"JSON",
                data:JSON.stringify(importedDataList),
                success:function (response) {
                    if(response.code != "10000"){
                        alert(response.message);
                    }else{
                        window.close();
                        window.opener.location.href = '/dubbo/interfaceList';
                    }
                }
            });
        }else{
            alert(alertMsg);
        }
    }
    function selected() {
        $("#caseList").html(getShowHtmlByLogJsonAndCheckVals());
    }
    selected();

    window.onload = function() {
        $("#surprise").click();
    };
</script>
<!-- Content ends -->
{% include 'InterfaceTest/foot.html' %}